


<div class="products__main ">


  <div class="products__item">
    <div class="product__image">

      <img src="assets/images/products_image/1.png" alt="">

      <button class="add_basket" (click)="addGame(game!.id)" *ngIf="game"><img
        src="assets/images/header/plus-solid.svg" alt=""></button>

    </div>

    <div class="product__text-wrapper">
      <div class="product__title">
        <a href="" routerLink="/detail/{{game!.id}}">{{game!.name.substring(0,10)}}</a>
      </div>
      <div class="product__dev">

        <a href="">test name</a>

      </div>
    </div>
    <div class="product__settings-wrapper">

      <span>test {{game!.price}} $</span>
      <div class="product__dots" (click)="setActive()">
        <img src="assets/images/products_image/dots.svg" alt="">



        <div class="product__settings">
          <div class="product__edit">
            <a routerLink="/edit_game/{{game!.id}}">Edit</a>
          </div>
          <div class="product__delete">
            <a href="" (click)="deleteGame(game!.id)">Delete</a>
          </div>
        </div>



      </div>


    </div>

  </div>
</div>
