<div class="main container">
  <div class="main__content content">
    <div class="content__title">Wishlist</div>
    <div class="content__wrapper">

      <div class="game" *ngFor="let game of games">
        <div class="game__content">
          <div class="game__image"><img src="assets/images/products_image/1.png" alt=""></div>
          <div class="game__content-left">
            <div class="game__title-wrapper">
              <div class="game__base">base game</div>
              <div class="game__title">${{game.name}}</div>
            </div>
            <div class="game__platform">
              <img src="assets/images/wishlist/windows-brands.svg" alt="">
            </div>

          </div>
          <div class="game__content-right">
            <div class="game_price">${{game.price}}</div>
            <div class="game__btns">
              <div class="game__remove" (click)="removeGame(game.id)">Remove</div>
              <div class="game__addToCart">add to cart</div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>

