
<header class="header">
  <div class="header__leftNav leftNav">
    <img [routerLink]="['/home']" src="assets/images/header/Epic_Games_logo.png" alt="logo" class="logo">
    <ul class="leftNav_menu">

      <li class="leftNav__item"><a href="">store</a></li>
      <li class="leftNav__item"><a href="">faq</a></li>
      <li class="leftNav__item"><a href="">help</a></li>
      <li class="leftNav__item"><a href="">unreal engine</a></li>


    </ul>
  </div>
  <div class="header__burger">
    <span></span>
  </div>

  <div class="header__rightNav rightNav">
    <ul class="rightNav">
      <li class="rightNav__item"><img src="assets/images/header/earth.svg" alt="earth"></li>



      <li class="rightNav__item"><a href=""
                                    style="color: red; flex-basis: 100px" (click)="logout()">Выход</a>
      </li>


      <li class="rightNav__item"><span class="rightNav__person" ><img
        src="assets/images/header/person.svg" alt="person"><span
        class="person__green-circle"></span></span><a [routerLink]="['/login']">Sign
        in</a>
      </li>


      <li class="rightNav__item"><a href="">Download</a></li>

    </ul>
  </div>


</header>
