<div class="primaryNavigation container">

  <div class="primaryNavigation__left">
    <div class="primaryNavigation__search ">
      <div class="primaryNavigation__search-img"><img src="assets/images/primaryNavigation/search.svg" alt=""></div>
      <input type="text" placeholder="Search">
    </div>
    <div class="primaryNavigation__discover" routerLink="/search">Discover</div>
    <div class="primaryNavigation__browse">Browse</div>
    <div class="primaryNavigation__news">News</div>
  </div>
  <div class="primaryNavigation__right">
<!--    [routerLink]="['/wishlist']"-->
    <div class="primaryNavigation__wishlist" ><a href="/add_game">Add game</a></div>
    <div class="primaryNavigation__wishlist" routerLink="/wishlist" ><a href="/wishlist">Wishlist</a></div>
    <div class="primaryNavigation__cart">Cart</div>
  </div>

</div>

