
<div class = "main">
  <button>
    <span>Sort by: </span>
    <span>New Release</span>
    <i class="fas fa-chevron-down"></i>
  </button>
  <div class = "container">
    <div class = "main-page">




      <div *ngFor="let game of games">
        <img src="assets/images/products_image/1.png" alt="">
        <div>
          {{game.name}}
        </div>
        <div>
          KZT {{game.price}}
        </div>
      </div>
    </div>

    <div class = "sidebar" style="font-family: Roboto, serif">
      <h2>Filters</h2>
      <div class = "inpt">
        <input type="text" placeholder="Keywords" value="">
      </div>
      <div id = "line"></div>
      <div id = "cat">
        <h2>Categories </h2>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class = "cat-list">
        <div>
          <h2>
            Adventure
          </h2>
        </div>
        <div>
          <h2>
            Sport
          </h2>
        </div>
        <div>
          <h2>
            Simulation
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
