
<div class = "main">
  <button>
    <span>Sort by: </span>
    <span>New Release</span>
    <i class="fas fa-chevron-down"></i>
  </button>
  <div class = "container">
    <div class = "main-page">
      <div>
        <img src="https://cdn1.epicgames.com/spt-assets/33451aaf33614529aadd19c54a7e9011/download-voodoo-detective-offer-hlntp.jpg?h=854&resize=1&w=640" alt="">
        <div>
          Voodoo Detective
        </div>
        <div>
          KZT 1,930
        </div>
      </div>
      <div>
        <img src="https://cdn1.epicgames.com/spt-assets/33451aaf33614529aadd19c54a7e9011/download-voodoo-detective-offer-hlntp.jpg?h=854&resize=1&w=640" alt="">
        <div>
          Voodoo Detective
        </div>
        <div>
          KZT 1,930
        </div>
      </div>
      <div>
        <img src="https://cdn1.epicgames.com/spt-assets/33451aaf33614529aadd19c54a7e9011/download-voodoo-detective-offer-hlntp.jpg?h=854&resize=1&w=640" alt="">
        <div>
          Voodoo Detective
        </div>
        <div>
          KZT 1,930
        </div>
      </div>
      <div>
        <img src="https://cdn1.epicgames.com/spt-assets/33451aaf33614529aadd19c54a7e9011/download-voodoo-detective-offer-hlntp.jpg?h=854&resize=1&w=640" alt="">
        <div>
          Voodoo Detective
        </div>
        <div>
          KZT 1,930
        </div>
      </div>
      <div>
        <img src="https://cdn1.epicgames.com/spt-assets/33451aaf33614529aadd19c54a7e9011/download-voodoo-detective-offer-hlntp.jpg?h=854&resize=1&w=640" alt="">
        <div>
          Voodoo Detective
        </div>
        <div>
          KZT 1,930
        </div>
      </div>
    </div>
    <div class = "sidebar" style="font-family: Roboto, serif">
      <h2>Filters</h2>
      <div class = "inpt">
        <input type="text" placeholder="Keywords" value="">
      </div>
      <div id = "line"></div>
      <div id = "cat">
        <h2>Categories </h2>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class = "cat-list">
        <div>
          <h2>
            Adventure
          </h2>
        </div>
        <div>
          <h2>
            Sport
          </h2>
        </div>
        <div>
          <h2>
            Simulation
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
